* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #01887b;
  --section-background: #ececec;
  --main-transition: 0.3s;
  --section-padding: 30px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.page {
  display: grid;
  height: 100vh;
  grid-template-columns: auto repeat(10, 1fr);
  grid-template-rows: 80px auto;
  grid-template-areas:
    "head nav nav nav nav nav nav nav nav nav nav"
    "head sec sec sec sec sec sec sec sec sec sec";
}
header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 70px;
  border-right: 1px solid #f6f5f6;
}

@media (min-width: 991px) {
  header:hover {
    width: 180px;
    display: flex;
    justify-content: unset;
    gap: 30px;
  }
  header:hover > .icons {
    display: none;
  }
  header:hover > .log-out {
    display: none;
  }
  header:hover .menu {
    display: flex;
    align-items: center;
  }
  header:hover .menu a {
    color: var(--main-color);
    display: flex;
    gap: 15px;
  }
  header:hover i {
    padding: 0;
    margin: 0;
  }
  header:hover img {
    border-bottom: 2px solid #f6f5f6;
  }
}
header .menu {
  display: none;
}

header .icons {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

header .icons i,
header .log-out i {
  font-size: 20px;
  color: var(--main-color);
  text-align: center;
}
header a {
  position: relative;
  z-index: 2;
  text-align: center;
}
header .menu .icons a {
  text-align: center;
}
header .menu .icons a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 10px;
  top: -50%;
  left: -10%;
  background-color: #ececec;
  z-index: -1;
  display: none;
}
header .menu .icons a::before {
  content: "";
  position: absolute;
  width: 4px;
  height: calc(100% + 20px);
  background-color: var(--main-color);
  left: -10%;
  top: -50%;
  display: none;
}
header > .icons a::after,
header > .log-out a::after {
  content: "";
  width: 165%;
  height: 100%;
  position: absolute;
  padding: 10px;
  top: -50%;
  left: -60%;
  background-color: #ececec;
  z-index: -1;
  display: none;
}
header > .log-out a::after {
  width: calc(200%);
  height: calc(100%);
  top: -50%;
  left: -85%;
  display: none;
}
header > .icons a::before,
header > .log-out a::before {
  content: "";
  position: absolute;
  width: 4px;
  height: calc(100% + 20px);
  background-color: var(--main-color);
  left: -90%;
  top: -50%;
  display: none;
}
header > .log-out a::before {
  left: -125%;
  display: none;
}
header .menu .icons a:hover::after,
header .menu .icons a:hover:before,
header > .icons a:hover:before,
header > .log-out a:hover::before,
header > .icons a:hover::after,
header > .log-out a:hover::after {
  display: block;
}
header .logo {
  padding: 10px;
}
header .logo img {
  max-width: 80px;
}
header .logo img,
header .log-out {
  padding: 20px;
}

nav {
  background-color: white;
  border-bottom: 1px solid #f6f5f6;
  grid-area: nav;
  padding: 10px 10px 10px 20px;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
nav .welcome {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .welcome img {
  width: 55px;
  border-radius: 50%;
}
nav .welcome span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: var(--main-color);
}

nav .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
nav .icons i {
  font-size: 20px;
  color: var(--main-color);
}
nav .icons .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f5f6;
  border-radius: 20px;
  padding: 10px 20px;
}
nav .icons .search input {
  display: block;
  width: 200px;
  background-color: unset;
  border: none;
  outline: none;
  caret-color: var(--main-color);
}
nav .icons .search input::placeholder {
  color: #01887b;
}
@media (max-width: 767px) {
  nav {
    display: flex;
    align-items: center;
  }
  nav .icons .search input {
    width: 100px;
  }
  nav .welcome img {
    width: 40px;
  }
  nav .container {
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  nav .welcome span {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  nav .container {
    padding-top: 10px;
  }
  nav .welcome img {
    width: 45px;
  }

  nav .welcome span {
    font-size: 17px;
  }
}

section {
  grid-area: sec;
  background-color: white;
}
